.splitview {
    display: grid;
    grid-template-areas:
        "header-lhs grid-resize header-rhs"
        "sql-eval   grid-resize r-eval";
        /*  "sql-output grid-resize r-output"; */

    grid-template-columns: calc(50% - 3px) 6px calc(50% - 3px);

    #grid-resize {
        background-color: lightgray;
        grid-area: grid-resize;
        cursor: ew-resize;
    }

    .header-segment {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em .5em 1em .5em;
        background-color: #f8f8f8;
        border-bottom: 1px solid #ccc;
    }

    .header-segment .title {
        display: inline-block;
        font-size: 1.2em;
        font-weight: bold;
    }

    #header-lhs {grid-area: header-lhs;}
    #header-rhs {grid-area: header-rhs;}

    #r-eval {
        grid-area: r-eval;
        padding-bottom: 1em;
        border-bottom: 1px solid #ccc;
    }

    #sql-eval {
        grid-area: sql-eval;
        padding-bottom: 1em;
        border-bottom: 1px solid #ccc;
    }

    /*#sql-output_wrapper {grid-area: sql-output;}*/
    /*#r-output {grid-area: r-output;}*/
}
