* {
  box-sizing: border-box;
}

:root {
  --dt-row-selected: 13, 110, 253;
  --dt-row-selected-text: 255, 255, 255;
  --dt-row-selected-link: 9, 10, 11;
  --dt-row-stripe: 0, 0, 0;
  --dt-row-hover: 0, 0, 0;
  --dt-column-ordering: 0, 0, 0;
  --dt-html-background: white;
  --grey-bg: #f8f8f8;
  --grey-border: #ccc;
}

:root.dark {
  --dt-html-background: rgb(33, 37, 41);
}

body {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  /*font-family: 'JetBrains Mono', 'Courier New', monospace;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  overflow: auto;
  grid-template-rows: auto 1fr auto;
}

header {
  display: flex;
  align-items: center;
  padding: .5em .5em .5em .5em;
  background-color: var(--grey-bg);
  border-bottom: 1px solid var(--grey-border)
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--grey-bg);
  width: 100%;
  padding: .7em .7em;
}

footer a {
  text-decoration: none;
}

main {
  overflow: auto;
}

#load-table {
  width: 100%;
  margin-top: 10px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}

#r-status {
  padding: .5em 0;
  margin: .1em 0;
}

#r-output {
  display: flex;
  max-width: 100%;
  justify-content: center;
}

#toggle-viz-btn {
  margin-right: .668em;
}


#sql-output_wrapper, #r-output {
}

/********************* Utility Classes *********************/

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
}

.padded-view {
  box-sizing: border-box;
  padding: 0 5px 0 5px;
}

.error-msg {
  color: red;
  height: 2em;
  padding: .5em;
}

.toast {
  visibility: hidden;
  min-width: 250px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.toast.show {
  visibility: visible;
  opacity: 1;
}

.linklist a + a {
  margin-left: .5em;
}

.linklist a + a::before {
  color: black;
  content: "|";
  margin-right: .5em;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: .5em .5em .5em .5em;
  background-color: var(--grey-bg);
  border-bottom: 1px solid var(--grey-border)
}

/* Logo sizing */
#logo {
  height: 2.5em;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: .7em;
}

.dropdown, .cs-button {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    margin-left: .167em;
    margin-right: .167em;
    margin-bottom: .333em;
    padding: .71em 1em;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    cursor: pointer;
    font-size: .88em;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr="rgba(230, 230, 230, 0.1)", EndColorStr="rgba(0, 0, 0, 0.1)");
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    outline: none;
    text-overflow: ellipsis;
}

.cs-button:hover:not(.disabled){
    border: 1px solid #666;
    background-color: rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom, rgba(153, 153, 153, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr="rgba(153, 153, 153, 0.1)", EndColorStr="rgba(0, 0, 0, 0.1)");
}

.cs-button:hover {
    text-decoration: none;
}
