.tableview {
    display: grid;
    grid-template-areas:
        "header-lhs header-rhs"
        "sql-eval   sql-eval"
        "sql-output sql-output";

    grid-template-columns: 1fr 1fr;

    .header-segment {
        display: flex;
        align-items: center;
        padding: 1em .5em 1em .5em;
        background-color: #f8f8f8;
        border-bottom: 1px solid #ccc;
    }

    .header-segment .title {
        display: inline-block;
        font-size: 1.2em;
        font-weight: bold;
    }

    #header-lhs {
        grid-area: header-lhs;
        justify-content: flex-begin;
    }

    #header-rhs {
        grid-area: header-rhs;
        justify-content: flex-end;
    }

    #sql-eval {
        grid-area: sql-eval;
        padding-bottom: 1em;
        border-bottom: 1px solid #ccc;
    }

    #sql-output_wrapper {
        grid-area: sql-output;
    }

    #grid-resize, #r-eval, #r-output {
        display: none;
    }
}
